@import "~bootstrap-icons/font/bootstrap-icons.css";

.service-box {
	text-align: center;
	margin-bottom: 50px;
}


.service-box i,
.service-box h4 {
	transition: all 0.5s;
}

.service-box i {
	font-size: 36px;
	margin-bottom: 20px;
	color: #444;
}

.service-box h4 {
	font-size: 24px;
	margin-bottom: 20px;
}

.service-box:hover>i,
.service-box:hover>h4 {
	color: #65daf9;
	transform: scale(1.2);
}
